The versions and packages that I used for this project are as follows:

python version : 3.12.4
conda version : 24.7.1

I created a virtual environment using Anaconda and installed all required libraries inside the environment

gradio : 4.39.0
gradio-client : 1.1.1
matplotlib : 3.9.1
numpy : 1.26.4
numpy-base : 1.26.4
pytorch : 2.3.0
requests : 2.32.3
transformers : 4.41.2

